.widget-header {
  color: var(--header-green);
  font-size: 22px;
  padding: 5px 0px;
  text-align: left;
  background: white;
  border-bottom: var(--header-green) 4px solid;
  height: 35px;
}

.widget-header .title {
  margin-left: 5px;
  vertical-align: middle;
}
