.report-link {
  color: var(--header-green) !important;
  font-size: 0.8em;
  vertical-align: middle;
  margin: 0px 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.report-link button {
  margin-left: 1em;
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  cursor: pointer;
  max-width: 100%;
}

.report-name i {
  margin-right: 10px;
}

.report-link-container {
  width: 100%;
  height: 100%;
  display: flex;
}

button.closeModal {
  height: 24px;
  width: 20px;
  background: inherit;
  border: none;
  font-size: 16px;
  color: #e01e5c;
  padding: 0px;
}
